################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/src/GraphQLClient/obj
/src/GraphQLService/obj
/.vs
/src/GraphQLClient/bin
/src/GraphQLService/bin